#common-words-title {
  margin-top: 20px;
}

#common-words-block {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 6px;
  margin: 0;
}

ul {
  padding-top: 24px;
  padding-left: 0;
  list-style: none;
}