#score-page {
  display: block;
  height: 85vh;
  width: 100%;
}

#score-flex-container {
  display: grid;
  padding: 20px;
  height: inherit;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto;
}

#score-section {
  display: flex;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-width: 600px;
  height: auto;
}

#sentimented-words-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  max-height: 100%;
}

#common-words-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-height: 100%;
}

